name: Publish clamav-rest image to ghcr.io

on:
  push:
    tags:
      - "v*"

env:
  REGISTRY: ghcr.io
  SERVER_IMAGE: clamav-rest

jobs:
  prepare:
    if: github.repository == 'netomi/clamav-rest'
    permissions:
      contents: none
    runs-on: ubuntu-22.04
    outputs:
      release-tag: ${{ steps.context.outputs.RELEASE_TAG }}
      release-version: ${{ steps.context.outputs.RELEASE_VERSION }}
    steps:
      - name: "Setup context"
        id: context
        shell: bash
        env:
          REF: ${{ github.ref }}
          REF_NAME: ${{ github.ref_name }}
        run: |
          echo "RELEASE_TAG=${REF_NAME}" >> $GITHUB_OUTPUT
          VERSION=$(echo ${REF_NAME} | sed 's/v//')
          echo "RELEASE_VERSION=$VERSION" >> $GITHUB_OUTPUT

  build-and-push-image:
    permissions:
      contents: read
      packages: write
      id-token: write
    runs-on: ubuntu-22.04
    steps:
    - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      with:
        persist-credentials: false

    - name: Log in to the Container registry
      uses: docker/login-action@5e57cd118135c172c3672efd75eb46360885c0ef # v3.6.0
      with:
        registry: ${{ env.REGISTRY }}
        username: ${{ github.actor }}
        password: ${{ secrets.GITHUB_TOKEN }}

    - name: Extract metadata (tags, labels) for Docker
      id: meta
      uses: docker/metadata-action@c299e40c65443455700f0fdfc63efafe5b349051 # v5.10.0
      with:
        images: |
          ${{ env.REGISTRY }}/${{ github.repository_owner }}/${{ env.SERVER_IMAGE }}
        tags:
          type=ref,event=tag
        labels: |
          org.opencontainers.image.title=ClamAV Rest

    - name: Build and push image
      uses: docker/build-push-action@263435318d21b8e681c14492fe198d362a7d2c83 # v6.18.0
      with:
        context: .
        push: true
        tags: ${{ steps.meta.outputs.tags }}
        labels: ${{ steps.meta.outputs.labels }}
